body {
  margin: 0;
  padding: 0;
  background-color: #1B1C22 !important;
}

h3 {
  font-size: 15vw !important;
  font-family: "niveau-grotesk" !important;
  font-weight: 700 !important;
  /*border: 3px solid blue;*/
  text-align: center;
  transition: color .5s !important;
}

p {
  font-family: "niveau-grotesk" !important;
  font-size: 2vw;
  position:relative;
}

#name-plate {
  text-align: center;
}

a {
  transition: color .5s;
}

.links {
  font-size: 4vw;
  font-family: "niveau-grotesk";
  font-weight: 700;
  text-align: center;
}

#about-link {
  color: #33C55A;
  text-decoration: none;
  padding-right: 1vw !important;
}

#work-link {
  color: #1476E3;
  text-decoration: none;
  padding-left: 1vw !important;
  padding-right: 1vw !important;
}

#resume-link {
  color: #DD155D;
  text-decoration: none;
  padding-left: 1vw !important;
  padding-right: 1vw !important;
}

#contact-link {
  color: #F4D46C;
  text-decoration: none;
  padding-left: 1vw !important;
  padding-right: 1vw !important;
}

#green-rule {
  border-style: solid;
  border-color: #33C55A;
  border-width: 46px;
  margin-left: 0px;
  margin-right: 0px;
}

h2 {
  font-size: 12vw !important;
  font-family: "niveau-grotesk" !important;
  font-weight: 700 !important;
}

.aboutme {
  text-align: left;
  color: #FFFFFF;
  font-family: "niveau-grotesk" !important;
}

.about_h {
  text-align: left;
  /*border-style: solid;
  border-color: green !important;
  border-width: 10px !important;*/
  float: left;
}

#about-header {
  margin-left: 50px;
  color: #33C55A;
}

#work-header {
  color: #1476E3;
}

#resume-header {
  color: #DD155D;
}

#contact-header {
  color: #F4D46C;
}

.pagecontent {
  padding-left: 30px;
  padding-right: 30px;
  /*background: pink;*/
  margin-top: -25px;
  height: 800px;
}

.propic {
  height: 40vw;
  width: 40vw;
  margin: 50px;
  float: right !important;
}

.info {
  clear: left;
  margin: 50px;
}
