body {
  margin: 0;
  background-color: #424444;
}

.header {
  background-color: #ffcbba;
  padding: 30px;
  text-align: center;
  font-family: monospace;
}

#navbar {
  overflow: hidden;
  background-color: #2C2D2D;
}

#navbar a {
  float: right;
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: Roboto;
  font-weight: bold;
}

#navbar a.current {
  font-weight: 700;
  background-color: #FC9870;
  color: #FFFFFF;
}

#navbar a:hover {
  background-color: #FCAF70;
  color: #FFFFFF;
}

#navbar a.active {
  background-color: #FC9870;
  color: #FFFFFF;
}

.pagecontent {
  padding: 16px;
  font-family: Roboto;
  font-weight: 300;
}

.stickynav {
  position: fixed;
  top: 0;
  width: 100%
}

.stickynav + .pagecontent {
  padding-top: 60px;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Thin.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Black.ttf");
    font-weight: 700;
}
