body {
  margin: 0;
  background-color: #1B1C22 !important;
}

h1 {
  font-size: 227pt !important;
  font-family: "niveau-grotesk" !important;
  font-weight: 700 !important;
  color: #FFFFFF !important;
  /*border: 3px solid blue;*/
  text-align: center;
}

.links {
  font-size: 39pt;
  font-family: "niveau-grotesk";
  font-weight: 700;
}

#about-link {
  color: #33C55A;
  /*text-decoration: underline;
  text-decoration-color: #FFFFFF;*/
  padding-left:100px !important;
  padding-right:30px !important;
}

#work-link {
  color: #1476E3;
  /*text-decoration: underline;
  text-decoration-color: #FFFFFF;*/
  padding-left:30px !important;
  padding-right:30px !important;
}

#resume-link {
  color: #DD155D;
  /*text-decoration: underline;
  text-decoration-color: #FFFFFF;*/
  padding-left:30px !important;
  padding-right:30px !important;
}

#contact-link {
  color: #F4D46C;
  /*text-decoration: underline;
  text-decoration-color: #FFFFFF;*/
  padding-left:30px !important;
  padding-right:30px !important;
}

#green-rule {
  border-style: solid;
  border-color: #33C55A;
  border-width: 46px;
  margin-left: 0px;
  margin-right: 0px;
}

h2 {
  font-size: 165pt !important;
  font-family: "niveau-grotesk" !important;
  font-weight: 700 !important;
  text-align: center !important;
}

#about-header {
  color: #33C55A;
}

#work-header {
  color: #1476E3;
}

#resume-header {
  color: #DD155D;
}

#contact-header {
  color: #F4D46C;
}
